@font-face {
  font-family: "Lobster"; /* Назва шрифту */
  src: url("./Lobster.ttf") format("opentype"); /* Шлях до файлу */
  font-weight: normal; /* Варіант ваги */
  font-style: normal; /* Варіант стилю */
}
